<h1>Stupid Coaching</h1>

<blockquote>
  <p><%= @question %> <br> -- Your coach </p>
</blockquote>

<blockquote>
  <p><%= @answer %> <br> -- You </p>
</blockquote>

<a href="/ask">Ask a new question</a>
